

h1{
	text-align: center;
	font-family: AR DESTINE Medium;
}

.yellow {
	background-color:yellow; 
	width:30vw; 
	height:50vh;
	display: flex;
}

.pink {
	background-color:pink;
	width:40vw;
	height:50vh;
	display: flex;
	
}
.red {
	background-color:red;
	width: 30vw;
	height:50vh;
	display: flex;
}
.green {
	background-color: green;
	display: flex;
	width:50vw;
	height:100vh;
}
.blue {
	background-color:blue;
	width:50vw;
	height: 100vh;
	display: flex;
}
.box1 {
	display: flex;
	width: 100vw;
	height: 50vh;
}
.box2 {
	display: flex;
	width: 100vw;
	height: 50vh;
}
.center-horizontal {
	display: flex;
	align-items: center;	
}
.center-vertical {
	display: flex;
	justify-content: center;
	height: inherit;
}
p {
	font-size: 30px;
	font-family: AR DECODE Medium;
	text-align: center;
}
